body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#image {
    width: 575px;
    height: 400px;
    border: 5px solid black;
    margin: 20px auto;
    background-color: #8e8e8e;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.preview {
    width: 150px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
}

.preview:hover {
    border-color: #ff0000;
}